body {
    background-color: #fafafa;
}

.nav {
   
    display: flex;
    position:fixed;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    font-family: 'poppins', sans-serif;
    color: #1a1a1a;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


html {
    scroll-behavior: smooth;
}


a {
    font-family: 'poppins', sans-serif;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
}

.shitty-margin-top {
    height:100px ;
}
.events {
    width: 35px;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 90%;
    background-color: transparent;
    border-radius: 12px;
    
}

.pfp {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 25px;
    background-image: url(	https://i.pinimg.com/236x/05/8a/a2/058aa285cea623ecc42ca603982a4648.jpg);
    background-position: center;
    background-size: 140%;
    cursor: pointer;
}

.greet {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 45px;
}


#cta-a {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 200px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    cursor:pointer;
    border: none;
    transition: all 0.3s ease;
}

#cta-a:hover {
    height: 50px;
    width: 205px;
}

#cta-b {
    display: flex;
    align-items: center;
    justify-content: center;
    height:40px;
    width: 200px;
    border-radius: 12px;
    color: #000;
    cursor:pointer;
    font-size: medium;
    transition: all 0.3s ease;
}

.cta-spacers {
    width: 30px;
}


#particles-js {
    position: fixed;
    width: 100%;
    height: 80%;
    background: transparent; /* Adjust this to match your site */
    z-index: -1;
}

#abt {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    height: 600px;
    width: 100%;
    background-color: #fafafa;
}

#heading {
    font-family: 'poppins', sans-serif;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: underline;
}

#headingm {
    font-family: 'poppins', sans-serif;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
    padding-top: 25px;
    
}

#paras {
    margin-top: 45px;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'poppins', sans-serif;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    font-size:large;
}


#mp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 80%;
    background-color: #E3E0D1;
    border-radius: 12px;
    margin-top: 20px;
    border-radius: 12px;
   
}

.one {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 250px;
    background-color: #F7F7F5;
    border-radius: 12px;
    
}

.zyan {
    padding-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    font-size:large;

}

.des{
    padding-top: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    font-size:medium;
}

#des-yes {
    margin-top: 30px;
    padding-top:15px;
    height: 30px;
    width: 80%;
    border-radius: 12px;
    background-color: #191918;
    color: #fff;
    font-size: medium;

}



.corousel {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 30px;
    width: 80%;
    height:90px ;
    background-color: transparent;
    backdrop-filter: blur(3px);
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    font-size:large;
    border-bottom: 1px solid #000;
}

.id {
    font-size: x-large;
}


#bctoup  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #000;
    border: 2px solid #000;
    bottom: 0;
    right: 0;
    position: fixed;
    cursor:pointer;
    display: none;
}




#icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    background-image: url(https://i.pinimg.com/236x/05/8a/a2/058aa285cea623ecc42ca603982a4648.jpg);
    background-position: center;
    background-size: 140%;
}

.idy {
    font-size: large;
}


.live {
    height: 20px;
    width: 20px;
    background-color: lime;
    border-radius: 50%;
}
.status {
    font-size: x-large;
}

.forbes {
    width: 5px;
}

.statusy {
    display: flex;
    flex-direction: row;
    font-size: large;
}

.inmids {
    width: 300px;
}

.inmids-ya {
    width:300px;
}


.gotta-leave-some-space {
    height: 50px;
    width: 20px;
}



#up {
    display: flex;
    flex-direction: column;
   
 
    height: 500px;
    width: 80%;
    background-color: #E3E0D1;
    border-radius: 12px;
    margin-top: 20px;
    border-radius: 12px;
}

.else {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 275px;
    width: 60%;
    height: 400px;
    background-color:transparent;
    
}


.upheads {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    font-size:x-large;
    padding-top: 10px;
}


#collab {
    text-decoration: underline;
}


#ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    height: 400px;
    width: 80%;
    border-radius: 12px;
    margin-top: 25px;
   
}


.idk {
    height: 100px;
}



.git {
    font-size:50px;
    color: #000;
    transition: all 0.3s ease;
    cursor: pointer;
}


.git:hover {
    font-size: 60px;
}

.discord {
    font-size:50px;
    color: #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.discord:hover {
    font-size: 60px;
    color: #5865f2;
}

.contact-spacings {
    width: 150px;
}






























@media (max-width: 768px) {


    .contact-spacings {
        width: 60px;
    }

 .nav {
    display: none;
 }


 .shitty-margin-top{
    height: 250px;
    background-color: transparent;
 }
 
#particle-js {
    width: 80%;
}
 #abt {
    margin-top: 210px;
    width: 100%;
    height:600px;
    background-color: #fafafa;
   
 }

 #paras {
    padding-left: 25px;
   font-size: medium;
   text-align: left;
   padding-right: 50px;
 }

 .cta-spacers {
    width: 10px;
 }


 #cta-a {
    width: 150px;
 }
 
 #heading {
    font-size: x-large;
 }

 #headingm {
    font-size: x-large;
 }
 

 .corousel { 
    width: 90%;
    font-size: small;
 }

 .id {
    font-size:medium;
}

#mp {
    flex-direction: column;
    margin-right: 20px; 
    height: 700px;
   
}

#up {
    flex-direction: column;
    margin-right: 20px; 
    height: 500px;
}

.responsive-special {
    height: 90px;
}

.else {
    margin-top: 15px;
    flex-direction: column;
    padding-left: 50px;
}

.yeah-fr-fr {
    height: 100px;
}

#bctoup  {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #000;
    border: 2px solid #000;
    bottom: 0;
    right: 0;
    position: fixed;
    cursor:pointer;
}
}

